.banner {
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.banner__logo {
  position: absolute;
  top: 20px;
  left: 15px;

  &.no-js {
    display: none;

    @media (min-width: $vp-768) {
      display: block;
    }
  }

  &.open-js {
    opacity: 0;
  }

  @media (min-width: $vp-768) {
    display: block;
    top: 30px;
    left: 45px;
    z-index: 1;
  }
}

.banner__title {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-74px);
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 2px;
  color: $alice-blue;
  margin: 0;

  &.open-js {
    opacity: 0;
  }

  @media (min-width: $vp-768) {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 3px;
    left: 51px;
    transform: translateY(-50px);
  }
}

.banner__text {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(60%);
  letter-spacing: 1.3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $alice-blue;
  margin: 0;
  width: 199px;

  &.open-js {
    opacity: 0;
  }

  @media (min-width: $vp-768) {
    width: 387px;
    top: 47%;
    left: 51px;
    transform: translateY(42px);
    letter-spacing: 2.6px;
  }
}
