.cruises {
  width: 320px;
  margin: 0 auto;
  padding: 56px 25px 62px;

  @media (min-width: $vp-768) {
    width: 100%;
    padding: 90px 22px 100px 28px;
  }

  @media (min-width: $vp-1280) {
    width: 1130px;
  }

  @media (min-width: 1366px) {
    width: 1366px;
    margin: 0 auto;
  }
}

.cruises__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 34px;
  letter-spacing: 1.5px;

  @media (min-width: $vp-768) {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 50px;
  }
}

.cruises__list {
  padding: 0;
  margin: 0;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1;
  }

  @media (min-width: $vp-1280) {
    width: 1130px;
  }

  @media (min-width: 1366px) {
    margin: 0 auto;
  }
}

.cruises__item {
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.cruises__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $alice-blue;
  margin: 0;
  position: absolute;
  bottom: 19px;
  left: 27px;
  letter-spacing: 1.3px;

  @media (min-width: $vp-768) {
    left: 38px;
    bottom: 28px;
  }
}

.cruises__program {
  background-color: $color-tangaroa;
  padding: 25px 25px 35px 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:hover {
    opacity: 1;
  }

  @media (min-width: $vp-768) {
    padding: 26px 34px 35px 38px;
  }

  @media (min-width: $vp-1280) {
    width: 100%;
  }
}

.cruises__program-title {
  margin: 0 0 11px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $alice-blue;
  letter-spacing: 1px;

  @media (min-width: $vp-768) {
    letter-spacing: 1px;
  }
}

.cruises__program-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: $alice-blue;
  display: flex;
  flex-direction: column;
  margin: 0 0 11px;
}

.cruises__program-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $light-grey;
  display: flex;
  flex-direction: column;
}

.cruises__program-title span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $light-grey;
}

.cruises__program-link {
  display: block;
  padding: 11px 53px;
  margin-top: 5px;
  cursor: pointer;
  background-color: $alice-blue;
  color: $color-tangaroa;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;

  @media (min-width: $vp-768) {
    margin-top: 6px;
    padding: 12px 58px;
  }

  @media (min-width: $vp-1280) {
    padding: 12px 34px;
  }
}
