.footer {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 40px 15px;
  background-color: $color-tangaroa;

  @media (min-width: $vp-768) {
    padding: 50px 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $vp-1024) {
    justify-content: space-around;
  }
}

.footer__logo {
  display: block;
  margin: 0 0 24px;
  width: 42px;
  height: 22px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}

.footer__list {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $vp-768) {
    display: flex;
    margin: 0 87px 0 25px;
  }
}

.footer__item {
  list-style: none;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 21px;
  }

  @media (min-width: $vp-768) {
    margin: 0 0 0 23px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__item-link {
  color: $alice-blue;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}

.footer__social-list {
  margin: 0 auto;
  padding: 0;
  display: flex;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.footer__social-item {
  list-style: none;
  margin-right: 23px;

  &:last-child {
    margin-right: 0;
  }
}
